.grid-container{
    background-color: coral;
    display: grid;
    grid-gap:25px;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(2,250px);
}
.item{
    font-size: 2rem;
    letter-spacing: 3px;
    background-color: antiquewhite;
    text-align:center;
}
.item1{
    background-color: chartreuse;
  /* justify self */
  justify-self: stretch;
  justify-self:start;
  justify-self:end;
  justify-self:center;

}
.item2{
    background-color: chartreuse;
     /* align -self */
     align-self: stretch;
     align-self: start;
     align-self: center;
     align-self: end;
}
.item3{
    background-color: chartreuse;
 
}
.item4{
    background-color: chartreuse;
    
}
.item5{
    background-color: chartreuse;
  
}
.item6{
    background-color: chartreuse;

}
.item7{
    background-color: chartreuse;
   
}
.item8{
    background-color: chartreuse;
    /* plce self  align self  */
    place-self: stretch;
    place-self: start;
    place-self: end;
    place-self: start end;
    place-self: start center;
    place-self: center start;
    place-self: end start;
    place-self: end center;
    place-self: center end;

}
